[submodule "tagsystem"]
	path = tagsystem
	url = git@github.com:grastvei007/tagsystem.git
[submodule "device"]
	path = device
	url = git@github.com:grastvei007/device.git
[submodule "hwcom"]
	path = hwcom
	url = git@github.com:grastvei007/junehwcom.git
[submodule "server"]
	path = server
	url = git@github.com:grastvei007/juneserver.git
[submodule "influxdb"]
	path = influxdb
	url = git@github.com:grastvei007/influxdb.git
[submodule "avr"]
	path = avr
	url = git@github.com:grastvei007/avr.git
[submodule "virtualAvr"]
	path = virtualAvr
	url = git@github.com:grastvei007/virtualAvr.git
