[submodule "tagsystem"]
	path = tagsystem
	url = git@github.com:grastvei007/tagsystem.git
[submodule "device"]
	path = device
	url = git@github.com:grastvei007/device.git
[submodule "hwcom"]
	path = hwcom
	url = git@github.com:grastvei007/junehwcom.git
[submodule "server"]
	path = server
	url = git@github.com:grastvei007/juneserver.git
